* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(31, 138, 192);
    background: linear-gradient(
        90deg,
        rgba(31, 138, 192, 0.87718837535014) 12%,
        rgba(31, 138, 192, 1) 86%
    );
    font-family: sans-serif;
    color: #fff;
}

.Top {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Bottom {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}
.temperature {
    flex-direction: column;
}
.tempDegreeSection {
    display: flex;
    align-items: center;
}
.tempDegreeSection p {
    font-size: 50px;
    font-weight: bold;
}
.tempDegreeSection span {
    margin: 0 10px;
    font-size: 30px;
}
.temp-degree {
    font-size: 50px;
}

.cityName {
    display: block;
    font-size: 50px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
